<%- include ('./layouts/header') -%>
    <%- include ('./layouts/navbar') -%>
        <div class="container mt-5">
            <h3>Index</h3>
        </div>
        <%- include ('./layouts/footer') -%>